html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 隱藏捲軸 */
  background-color: #222; /* 深色背景 */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}